._37_FJ {
    border: none !important;
}

._ovIFV {
    font-family: 'Montserrat', sans-serif !important;
    background-color: white !important;
    color: black !important;

    font-size: 20px !important;
    line-height: 25px !important;
    font-weight: 700 !important;
    text-align: center;
}



._37_FJ>div {
        font-family: 'Montserrat', sans-serif !important;
        background: none !important;
        color: black !important;
        font-size: 20px !important;
        line-height: 25px !important;
        font-weight: 700 !important;
        margin: 0 0 10px !important;
        text-align: center !important;
    }

    ._1YwH3>button {
        font-size: 22px;
        line-height: 30px;
        font-weight: 700;
        color: white !important;
        background-color: #7C90FF ;
        padding: 20px 40px;
        width: 340px;
        border: none;
    
   }
  
    input[type=password]{
        width: 300px;
    padding: 15px;
    border: solid 2px #d5d9e5;
    border-radius: 5px;
    font-size: 18px;
    }
    ._1YwH3 {
        text-align: center;
        margin: auto;
    }
/* 
    button {
    font-size: 22px;
    line-height: 30px;
    font-weight: 700;
    color: white !important;
    background-color: #7C90FF;
    padding: 20px 40px;
    width: 340px;
    border: none;
        } */
    


